{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<div class="article-inner block-container">

    <div class="article-header">
        {{#if displayTitle}}
        <div class="article-title">
            <div class="article-title-inner" {{{a11y_attrs_heading "article"}}}>
                {{{compile displayTitle this}}}
            </div>
        </div>
        {{/if}}

        {{#if body}}
        <div class="article-body">
            <div class="article-body-inner">
                {{{compile_a11y_text body this}}}
            </div>
        </div>
        {{/if}}

        {{#if instruction}}
        <div class="article-instruction">
            <div class="article-instruction-inner">
                {{{compile_a11y_text instruction this}}}
            </div>
        </div>
        {{/if}}
    </div>

</div>
