<div class="btn__response-container">

  <div class="btn__marking js-btn-marking u-display-none" aria-label="{{#all _isInteractionComplete _canShowMarking}}{{#if _isCorrect}}{{@root/_globals._accessibility._ariaLabels.answeredCorrectly}}{{else}}{{@root/_globals._accessibility._ariaLabels.answeredIncorrectly}}{{/if}}{{/all}}">
    <div class="icon"></div>
  </div>

  {{#if _canShowModelAnswer}}
  <div class="js-answer-live-region aria-label" aria-live="assertive" aria-atomic="true"></div>
  {{/if}}

  <button class="btn-text btn__action js-btn-action" aria-label="{{_buttons._submit.ariaLabel}}">
    {{{_buttons._submit.buttonText}}}
  </button>

  <button class="btn-text btn__feedback js-btn-feedback is-disabled" aria-label="{{_buttons._showFeedback.ariaLabel}}" aria-disabled="true">
    {{{_buttons._showFeedback.buttonText}}}
  </button>

</div>

{{#if _shouldDisplayAttempts}}
<div class="btn__display js-display-attempts">
  <div class="btn__display-inner js-insert-attempts-string" aria-live="assertive">
    {{!-- Attempts remaining string is inserted here --}}
  </div>
</div>
{{/if}}
