{{import_globals}}

<div id="{{_id}}-heading" class="js-heading-inner" {{{a11y_attrs_heading _type}}}>

  <span class="aria-label">
  {{#if _isA11yCompletionDescriptionEnabled}}
    {{#if _isOptional}}
      {{{compile title}}}
      {{else if _isComplete}}
      {{_globals._accessibility._ariaLabels.complete}} {{{compile title}}}
      {{else}}
      {{_globals._accessibility._ariaLabels.incomplete}} {{{compile title}}}
    {{/if}}
    {{else}}
    {{{compile title}}}
  {{/if}}
  </span>

</div>
