{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<div id="notify-push-heading" class="notify-push__inner js-notify-push-inner">

  {{#if title}}
  <div class="notify-push__title">
    <div class="notify-push__title-inner" {{{a11y_attrs_heading 'notify'}}}>
      {{{compile title}}}
    </div>
  </div>
  {{/if}}

  {{#if body}}
  <div class="notify-push__body">
    <div class="notify-push__body-inner">
      {{{compile body}}}
    </div>
  </div>
  {{/if}}

</div>

<button class="btn-icon notify-push__close-btn js-notify-push-close-btn" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
  <div class="icon"></div>
</button>
