{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<div class="page__inner">

  {{#any displayTitle subtitle body instruction}}
  <div class="page__header">
    <div class="page__header-inner">

      {{#if displayTitle}}
      <div class="page__title">

        {{#unless _disableAccessibilityState}}
        <div class="js-heading"></div>
        {{~/unless~}}

        <div class="page__title-inner" {{#unless _disableAccessibilityState}}aria-hidden="true"{{/unless}}>
          {{{compile displayTitle}}}
        </div>

      </div>
      {{/if}}

      {{#if subtitle}}
      <div class="page__subtitle">
        <div class="page__subtitle-inner">
          {{{compile subtitle}}}
        </div>
      </div>
      {{/if}}

      {{#any body pageBody}}
      <div class="page__body">
        <div class="page__body-inner">
          {{#if pageBody}}
          {{{compile pageBody}}}
          {{else}}
          {{{compile body}}}
          {{/if}}
        </div>
      </div>
      {{/any}}

      {{#if instruction}}
      <div class="page__instruction">
        <div class="page__instruction-inner">
          {{{compile instruction}}}
        </div>
      </div>
      {{/if}}

    </div>
  </div>
  {{/any}}

  <div class="article__container">
    {{!-- Articles render here --}}
  </div>

</div>
