{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<div class="page-inner article-container">

  <div class="page-header">
    <div class="page-header-inner clearfix">

      <div class="page-header-content">
        <div class="page-header-content-inner">

          {{#if displayTitle}}
          <div class="page-title">

            {{#unless _disableAccessibilityState}}
            <div class="js-heading"></div>
            {{/unless}}

            <div class="page-title-inner" {{#unless _disableAccessibilityState}}aria-hidden="true"{{/unless}}>
              {{{compile displayTitle}}}
            </div>

          </div>
          {{/if}}

          {{#any body pageBody}}
          <div class="page-body">
            <div class="page-body-inner">
              {{#if pageBody}}
              {{{compile pageBody}}}
              {{else}}
              {{{compile body}}}
              {{/if}}
            </div>
          </div>
          {{/any}}

          {{#if instruction}}
          <div class="page-instruction">
            <div class="page-instruction-inner">
              {{{compile instruction}}}
            </div>
          </div>
          {{/if}}

        </div>
      </div>

    </div>
  </div>

</div>
